table, th, td {
    border: 1px solid;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    
    


  }

  li {
    
    float: left;
  }

  li , a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  li a:hover {
    background-color: rgba(17, 17, 17, 0.466);
  }